<div class="page-container">

<div class="row justify-content-end">
    <div class="col-10">
    </div>
    <div class="col-1"> 
        <button type="button" class="btn btn-success">Save</button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-danger">Delete</button>
    </div>
         
    <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">district_code</th>
            <th scope="col">district_name</th>
            <th scope="col">delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>avcılar</td>
                <td>delete</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>beylikdüzü</td>
                <td>delete</td>
            </tr>
        </tbody>
    </table>  

</div>
</div>