<form>
  <br>
  <div class="col-sm-4 offset-4">
    <div class="col-sm-12">
      <ngb-alert *ngIf="userService.savedSuccessfully" type="success"
                 (close)="userService.savedSuccessfully = null"
                 style="margin-left: -15px;">
        <h4><span translate="success"></span></h4>
        <span translate="successfully_saved"></span>
      </ngb-alert>
    </div>
    <div class="page-container">
      <div class="row">
        <div class="col-sm-6">
          <div class="screen-title">
            <div translate="change_password"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <br>
          <br>
        </div>
      </div>
      <div class="main-template container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label translate="old_password"></label>
              <i class="fas fa-lock with-label"></i>
              <input type="password" class="form-control"
                     [(ngModel)]="userService.changePasswordForm.OldPassword.Value"
                     name="password"
                     [ngClass]="{'error-input-border':baseCtrl.checkField(userService.changePasswordForm.OldPassword)
                      && submitted}"
                     (keydown.enter)="onSubmit()"
                     autocomplete="off">
              <div *ngIf="baseCtrl.checkField(userService.changePasswordForm.OldPassword) && submitted"
                   class="error-required" translate="field_required">
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label translate="password"></label>
              <i class="fas fa-lock with-label"></i>
              <input type="password" class="form-control"
                     [(ngModel)]="userService.changePasswordForm.NewPassword.Value"
                     name="password"
                     [ngClass]="{'error-input-border':baseCtrl.checkField(userService.changePasswordForm.NewPassword)
                      && submitted}"
                     (keydown.enter)="onSubmit()"
                     autocomplete="off">
              <div *ngIf="baseCtrl.checkField(userService.changePasswordForm.NewPassword) && submitted"
                   class="error-required" translate="field_required">
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label translate="repeat_password"></label>
              <i class="fas fa-lock with-label"></i>
              <input type="password" class="form-control"
                     [(ngModel)]="userService.changePasswordForm.RepeatPassword.Value"
                     name="repeatPassword"
                     [ngClass]="{'error-input-border':baseCtrl.checkField(userService.changePasswordForm.RepeatPassword) && submitted}"
                     (keydown.enter)="onSubmit()"
                     autocomplete="off">
              <div *ngIf="baseCtrl.checkField(userService.changePasswordForm.RepeatPassword) && submitted"
                   class="error-required" translate="field_required">
              </div>
              <div
                *ngIf="userService.changePasswordForm.RepeatPassword.Value!=userService.changePasswordForm.NewPassword.Value && submitted"
                class="error-required" translate="passwords_are_not_macthing">
              </div>
            </div>
          </div>
          <div class="col-sm-12">

            <button (click)="onSubmit()"
                    [ladda]="userService.calledEndPoint"
                    type="button" class="btn btn-send"
                    translate="save"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
