.login-box {
  margin-top: 16%;
  height: 350px;
}

.login-logo-box {
  background-color: #fff;
  height: 350px;
}

.login-form {
  background-color: #f3f3f3;
  height: 350px;
  padding-top: 15px;
  box-shadow: -2px 1px 8px #888888;;
}

.login-logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
