<div class="row">
  <div class="col-sm-6 offset-3">


    <div class="login-box">
      <div class="row">
        <div class="col-sm-6 login-logo-box">
          <img src="../../../assets/images/logo.png" height="150" width="300" class="login-logo"/>

        </div>
        <div class="col-sm-6 login-form">
          <div class="form-group"> <h4><span translate="reset_password"></span></h4></div>
          <form (ngSubmit)="onSubmit()">
            <div class="form-group" *ngIf="email!=null">
              <label translate="email"></label> <br>
              {{email}}
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="{{'new_password'|translate}}"
                     [(ngModel)]="resetPasswordForm.NewPassword.Value"
                     [ngClass]="{'error-input-border':resetPasswordForm.NewPassword.Value==null && submitted}"
                     name="password"
                     (keydown.enter)="onSubmit()"
                     autocomplete="off">
              <div *ngIf="resetPasswordForm.NewPassword.Value==null && submitted"
                   class="error-required"  translate="field_required">
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="{{'repeat_password'|translate}}"
                     [(ngModel)]="resetPasswordForm.RepeatPassword.Value"
                     [ngClass]="{'error-input-border':resetPasswordForm.RepeatPassword.Value==null && submitted}"
                     name="password"
                     (keydown.enter)="onSubmit()"
                     autocomplete="off">
              <div *ngIf="resetPasswordForm.RepeatPassword.Value==null && submitted"
                   class="error-required"  translate="field_required">
              </div>
              <div *ngIf="resetPasswordForm.NewPassword.Value != resetPasswordForm.RepeatPassword.Value && submitted"
                   class="error-required"  translate="passwords_are_not_macthing">
              </div>
            </div>
            <div class="form-group">
              <button (click)="onSubmit()"
                      type="button" class="btn btn-send"
                      [ladda]="userService.calledEndPoint"
                      translate="send"></button>
            </div>
            <p class="text-center">
              <span  translate="i_want_to" class="text-center"></span>&nbsp;
              <a routerLink="/login" translate="login"  class="link-color"></a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-success-modal
  [messageForShow]="message"
></app-success-modal>
