<ng-template #content let-c="close" let-d="dismiss" style="height: 300px">
  <div class="modal-body" >
    <div class="close-button-container" (click)="close()">
      <div class="display-table-cell">
        <img src="../../../../assets/images/close.jpg" height="15"
             width="15">
      </div>
    </div>
    <div class="text-center">
      <br>
      <br>
      <br>
      <img src="../../../../assets/images/success.png" height="50" width="50"/>
      <br>
      <br>
      <br>
     {{messageForShow | translate}}
    </div>
  </div>
</ng-template>


<button class="btn btn-lg btn-outline-primary" id="btnSuccess" (click)="open(content)" style="display: none">Launch demo modal</button>
