<ng-template #test  let-c="close" let-d="dismiss">

    <div class="modal-body">

      <div class="close-button-container" (click)="close()">
        <div class="display-table-cell">
          <img src="../../../../assets/images/close.jpg" height="15"
               width="15">
        </div>
      </div>
      <div *ngIf="!managementService.setForgotPasswordSuccess">
        <div class="text-center">
          <img src="../../../assets/images/logo.png" height="50" width="250"/>
          <h4 translate="i_forgot_my_password"></h4>
          <p translate="please_enter_email" class="green-explanation"></p>
        </div>
        <form (ngSubmit)="onSubmit()" class="col-lg-8 offset-2" >
          <div class="form-group">
            <input type="text" class="form-control" placeholder="{{'email'|translate}}"
                   [(ngModel)]="forgotPasswordForm.Email.Value"
                   [ngClass]="{'error-input-border':forgotPasswordForm.Email.Value==null && forgotPasssubmitted}"
                   name="email"
                   (keydown.enter)="onSubmit()"
                   autocomplete="off">
            <div *ngIf="forgotPasswordForm.Email.Value==null && forgotPasssubmitted"
                 class="error-required"  translate="field_required">
            </div>
          </div>


          <div class="form-group text-center">
            <button (click)="onSubmit()"
                    type="button" class="btn btn-send"
                    [ladda]="managementService.calledEndPoint"
                    translate="send"></button>
          </div>
          <p class="text-center">
            <span  translate="i_want_to" class="text-center"></span>&nbsp;
            <a (click)="modalRef.close()" translate="login"  class="link-color"></a>
          </p>
        </form>
      </div>
      <div *ngIf="managementService.setForgotPasswordSuccess">
        <div class="text-center">
          <p translate="we_have_sent_email"></p>
          <p class="text-center">
            <span  translate="i_want_to" class="text-center"></span>&nbsp;
            <a  (click)="modalRef.close()" translate="login" class="link-color"></a>
          </p>
        </div>
      </div>

    </div>
</ng-template>
<a (click)="open(test)" style="cursor: pointer" translate="i_forgot_my_password"></a>
