<ng-template #test let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="close-button-container" (click)="close()"
         id="btnCloseMessageModal">
      <div class="display-table-cell">
        <img src="../../../../assets/images/close.jpg" height="15"
             width="15">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-api-message-details
          [openedFromModal]="fromModal"
        ></app-api-message-details>
      </div>
    </div>
  </div>
</ng-template>
<a (click)="open(test)" style="cursor: pointer"
   id="btnOpenMessage"
></a>
